# Ignora cartelle di sistema che non vuoi tracciare
gtk-3.0/
dconf/
pulse/
ibus/
user-dirs.dirs
user-dirs.locale
gnome-session/
gnome-initial-setup-done/
goa-1.0/
org.gnome.Ptyxis/
abrt/
evolution/
nautilus/

# Ignora file e cartelle temporanee e cache
**/.cache/
**/cache/
**/*.log
**/*.tmp
**/logs/

# Ignora swap files editor
*.swp
*.swo

# Mantieni esplicitamente le cartelle di configurazione utente
!hypr/
!waybar/
!wofi/
!kitty/
!micro/


